@{
    ViewData["Title"] = "Claim Page";
}
@Html.Partial("_Header")

<div>
    <h1>Claim Details</h1>
    <p>Ensure that details are correct</p>
</div>

<div>
    <div class="form-group">
        <label for="HoursWorked">Hour worked:</label>
        <input type="text" id="hoursWorked" name="HoursWorked" />
    </div>



</div>






<button>Sumbit</button>