@model ContractMonthlyClaimSystem.Models.All_Queries;

@Html.Partial("_Header")

<!--linking external styling-->
<link rel="stylesheet" href="/css/claim.css"/>

<div class="claim-page">
    <h1>Claim Details</h1>
    <p>Ensure that details are correct</p>

    <form asp-action="Claim" method="post" class="claim-form">
        
        <div class="form-group">
            <label>Name:</label>
            <input type="text" asp-for="name" placeholder="Enter your name" />
            <span asp-validation-for="name"/>
        </div>
        <div class="form-group">
            <label>Sessions:</label>
            <input type="number" asp-for="sessions" placeholder="Enter number of sessions" />
            <span asp-validation-for="sessions"/>
        </div>

        <div class="form-group">
            <label>Hours Worked:</label>
            <input type="number" asp-for="hoursWorked" placeholder="Amount of hours worked" />
            <span asp-validation-for="hoursWorked"/>
        </div>

        <div class="form-group">
            <label>Hourly Rate:</label>
            <input type="number" asp-for="hourlyRate" placeholder="Enter Hourly Rate " />
            <span asp-validation-for="hourlyRate"/>
        </div>

        <div class="form-group">
            <label>Upload Supporting Documents:</label>
            <input type="file" asp-for="document" placeholder="submit supporting document" />
            <span asp-validation-for="document"/>
        </div>

        <div class="form-group">
            <button  type="submit"class="claim-btn">Submit</button>
        </div>
    </form>
</div>