@{
    ViewData["Title"] = "Claim Page";
}
@Html.Partial("_Header")

<!--linking external styling-->
<link rel="stylesheet" href="/css/claim.css"/>

<div class="claim-page">
    <h1>Claim Details</h1>
    <p>Ensure that details are correct</p>

    <form class="claim-form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" />
        </div>

        <div class="form-group">
            <label for="sessions">Sessions:</label>
            <input type="number" id="sessions" name="sessions" />
        </div>

        <div class="form-group">
            <label for="hours">Hours Worked:</label>
            <input type="number" id="hours" name="hours" />
        </div>

        <div class="form-group">
            <label for="rate">Hourly Rate:</label>
            <input type="number" id="rate" name="rate" />
        </div>

        <div class="form-group">
            <label for="file">Upload Supporting Documents:</label>
            <input type="file" id="file" name="file" />
        </div>

        <div class="form-group">
            <button type="submit" class="claim-btn">Submit</button>
        </div>
    </form>
</div>