@model List<ContractMonthlyClaimSystem.Models.All_Queries>

@Html.Partial("_Header")

<!--linking external styling-->
<link rel="stylesheet" href="/css/review.css"/>

<table class="claims-table">
    <thead>
        <tr>
            <th>ClaimID</th>
            <th>ClaimStatus</th>
            <th>Reason (If rejected)</th>
            <th>Finalised Date</th>
        </tr>
    <thead/>
    
        @{
            foreach (var Claim in Model) {
                <tr>
                    <td>@Claim.claimID</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        }
        }
</table>