@{
    ViewData["Title"] = "TrackClaim Page";
}
@Html.Partial("_Header")

<!--linking external styling-->
<link rel="stylesheet" href="/css/review.css"/>

<table class="claims-table">
    <tr>
        <th>ClaimID</th>
        <th>ClaimStatus</th>
        <th>Reason (If rejected)</th>
        <th>Finalised Date</th>
    </tr>
    <tr>
        <td>C001</td>
        <td>Approved</td>
        <td>N/A</td>
        <td>2023-10-01</td>
    </tr>
    <tr>
        <td>C004</td>
        <td>Pending</td>
        <td>Pending</td>
        <td>2023-10-02</td>
    </tr>

</table>